<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springapp.persistence.ImageInfoMapper">

	<!-- 이미지 정보 리스트 -->
	<select id = "selectList" parameterType="ImageInfoVo" resultType="ImageInfoVo">
		SELECT
		a.image_seq as image_seq,
		a.status as status,
		a.image_type as image_type,
		a.product_code as product_code,
		a.product_name as product_name,
		a.urlinfo as urlinfo,
		a.user_id as user_id,
		b.image_name as image_name
		FROM image_info a
		JOIN users u ON a.user_id = u.user_id
		LEFT JOIN (SELECT image_seq,image_name ,
		MIN(image_files_seq) AS image_files_seq
		FROM image_files
		GROUP BY image_seq) b
		ON a.image_seq = b.image_seq
		<where>
			<if test="image_type != '' ">
				AND a.image_type =  #{image_type}
			</if>
			<if test="user_id != null">
				AND u.user_id LIKE CONCAT('%', #{user_id},'%')
			</if>
			<if test="group_name != null">
				AND u.group_name LIKE CONCAT('%', #{group_name},'%')
			</if>
			<if test="shop_name != null">
				AND u.shop_name LIKE CONCAT('%', #{shop_name},'%')
			</if>
			<if test="category_name != null">
				AND u.category_name LIKE CONCAT('%', #{category_name},'%')
			</if>
			<if test="user_role != '' ">
				AND u.user_role =  #{user_role}
			</if>
			<if test="urlinfo != null">
				AND a.urlinfo LIKE CONCAT('%', #{urlinfo},'%')
			</if>
			<if test="product_code != null">
				AND a.product_code LIKE CONCAT('%', #{product_code},'%')
			</if>
			<if test="product_name != null">
				AND a.product_name LIKE CONCAT('%', #{product_name},'%')
			</if>
		</where>
		ORDER BY image_seq desc
		limit #{startRowNum },#{pageSize}
	</select>

	<select id="selectListCount" parameterType="ImageInfoVo" resultType="int">
		SELECT
		count(*) as count
		FROM image_info a
		JOIN users u ON a.user_id = u.user_id
		LEFT JOIN (SELECT image_seq,image_name ,
		MIN(image_files_seq) AS image_files_seq
		FROM image_files
		GROUP BY image_seq) b
		ON a.image_seq = b.image_seq
		<where>
			<if test="image_type != '' ">
				AND a.image_type =  #{image_type}
			</if>
			<if test="user_id != null">
				AND u.user_id LIKE CONCAT('%', #{user_id},'%')
			</if>
			<if test="group_name != null">
				AND u.group_name LIKE CONCAT('%', #{group_name},'%')
			</if>
			<if test="shop_name != null">
				AND u.shop_name LIKE CONCAT('%', #{shop_name},'%')
			</if>
			<if test="category_name != null">
				AND u.category_name LIKE CONCAT('%', #{category_name},'%')
			</if>
			<if test="user_role != '' ">
				AND u.user_role =  #{user_role}
			</if>
			<if test="urlinfo != null">
				AND a.urlinfo LIKE CONCAT('%', #{urlinfo},'%')
			</if>
			<if test="product_code != null">
				AND a.product_code LIKE CONCAT('%', #{product_code},'%')
			</if>
			<if test="product_name != null">
				AND a.product_name LIKE CONCAT('%', #{product_name},'%')
			</if>
		</where>
	</select>



	<!-- 이미지 정보 리스트 -->
	<select id = "selectGrantList" parameterType="ImageInfoVo" resultType="ImageInfoVo">
		SELECT
		a.image_seq as image_seq,
		a.status as status,
		a.image_type as image_type,
		a.product_code as product_code,
		a.product_name as product_name,
		a.urlinfo as urlinfo,
		a.user_id as user_id,
		b.image_name as image_name
		FROM image_info a
		JOIN users u ON a.user_id = u.user_id
		LEFT JOIN (SELECT image_seq,image_name ,
		MIN(image_files_seq) AS image_files_seq
		FROM image_files
		GROUP BY image_seq) b
		ON a.image_seq = b.image_seq
		WHERE a.status != '2'
		<if test="image_type != '' ">
			AND a.image_type =  #{image_type}
		</if>
		<if test="user_id != null">
			AND u.user_id LIKE CONCAT('%', #{user_id},'%')
		</if>
		<if test="group_name != null">
			AND u.group_name LIKE CONCAT('%', #{group_name},'%')
		</if>
		<if test="shop_name != null">
			AND u.shop_name LIKE CONCAT('%', #{shop_name},'%')
		</if>
		<if test="category_name != null">
			AND u.category_name LIKE CONCAT('%', #{category_name},'%')
		</if>
		<if test="user_role != '' ">
			AND u.user_role =  #{user_role}
		</if>
		<if test="urlinfo != null">
			AND a.urlinfo LIKE CONCAT('%', #{urlinfo},'%')
		</if>
		<if test="product_code != null">
			AND a.product_code LIKE CONCAT('%', #{product_code},'%')
		</if>
		<if test="product_name != null">
			AND a.product_name LIKE CONCAT('%', #{product_name},'%')
		</if>
		<if test="status != null">
			AND a.status = #{status}
		</if>
		ORDER BY image_seq desc
		limit #{startRowNum },#{pageSize}
	</select>

	<select id="selectGrantListCount" parameterType="ImageInfoVo" resultType="int">
		SELECT
		count(*) as count
		FROM image_info a
		JOIN users u ON a.user_id = u.user_id
		LEFT JOIN (SELECT image_seq,image_name ,
		MIN(image_files_seq) AS image_files_seq
		FROM image_files
		GROUP BY image_seq) b
		ON a.image_seq = b.image_seq
		WHERE a.status != '2'
		<if test="image_type != '' ">
			AND a.image_type =  #{image_type}
		</if>
		<if test="user_id != null">
			AND u.user_id LIKE CONCAT('%', #{user_id},'%')
		</if>
		<if test="group_name != null">
			AND u.group_name LIKE CONCAT('%', #{group_name},'%')
		</if>
		<if test="shop_name != null">
			AND u.shop_name LIKE CONCAT('%', #{shop_name},'%')
		</if>
		<if test="category_name != null">
			AND u.category_name LIKE CONCAT('%', #{category_name},'%')
		</if>
		<if test="user_role != '' ">
			AND u.user_role =  #{user_role}
		</if>
		<if test="urlinfo != null">
			AND a.urlinfo LIKE CONCAT('%', #{urlinfo},'%')
		</if>
		<if test="product_code != null">
			AND a.product_code LIKE CONCAT('%', #{product_code},'%')
		</if>
		<if test="product_name != null">
			AND a.product_name LIKE CONCAT('%', #{product_name},'%')
		</if>
		<if test="status != null">
			AND a.status = #{status}
		</if>

	</select>


    <!-- 이미지 정보 호출  -->
    <select id="selectInfo" parameterType="ImageInfoVo" resultType="ImageInfoVo">
  		SELECT
			a.image_seq as image_seq,
			a.image_type as image_type,
			a.product_code as product_code,
			a.product_name as product_name,
			a.urlinfo as urlinfo,
			a.user_id as user_id,
			a.status as status,
			u.user_name as user_name,
			u.category_name as category_name,
			u.group_name as group_name,
			u.shop_name as shop_name,
			u.user_role as user_role
		FROM image_info a
		JOIN users u ON a.user_id = u.user_id
		WHERE a.image_seq = #{image_seq};
    </select>

    <!-- 이미지 정보 등록 -->
    <insert id="insert" parameterType="ImageInfoVo" >

		<selectKey keyProperty="image_seq" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID() as image_seq
		</selectKey>

		INSERT INTO image_info
		(
		image_type,
		product_code,
		product_name,
		user_id,
		urlinfo,
		reg_date,
		status
		)
		VALUES
		(
		#{image_type},
		#{product_code},
		#{product_name},
		#{user_id},
		#{urlinfo},
		now(),
		#{status}
		);
    </insert>


	<!-- 이미지 정보 수정 -->
	<update id="update" parameterType="ImageInfoVo">
		UPDATE
		image_info
		<set>
			<if test="image_type != null and image_type != '' ">image_type=#{image_type},</if>
			<if test="product_code != null and product_code != '' ">product_code=#{product_code},</if>
			<if test="product_name != null and product_name != '' ">product_name=#{product_name},</if>
			<if test="user_id != null and user_id != '' ">user_id=#{user_id},</if>
			<if test="urlinfo != null and urlinfo != '' ">urlinfo=#{urlinfo},</if>
			<if test="status != null and status != '' ">status=#{status},</if>
		</set>
		WHERE  image_seq = #{image_seq};
	</update>



	<!-- 이미지 정보 삭제 -->
	<delete id="delete" parameterType="ImageInfoVo">
		<![CDATA[
		  DELETE FROM
				image_info
		  WHERE  image_seq = #{image_seq};
	  	]]>
	</delete>


</mapper>
