<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springapp.persistence.ImageInfoMapper">

    <!-- 이미지 정보 리스트 -->
    <select id = "selectList" parameterType="ImageInfoVo" resultType="ImageInfoVo">
		SELECT
			  image_seq,
			  category_seq,
			  group_seq,
			  shop_seq,
			  image_type,
			  product_code,
			  product_name,
			  urlinfo
			FROM
				 image_info
		<where>
			<if test="image_type != null">
				AND image_type =  #{image_type}
			</if>
		</where>
			ORDER BY image_seq desc
			limit #{startRowNum },#{pageSize}
    </select>

	<select id="selectListCount" parameterType="ImageInfoVo" resultType="int">
		SELECT
		COUNT(*) count
		FROM image_info
		<where>
			<if test="image_type != null">
				AND image_type =  #{image_type}
			</if>
		</where>
	</select>


    <!-- 이미지 정보 호출  -->
    <select id="selectInfo" parameterType="ImageInfoVo" resultType="ImageInfoVo">
        <![CDATA[
	  		SELECT
			  image_seq,
			  category_seq,
			  group_seq,
			  shop_seq,
			  image_type,
			  product_code,
			  product_name,
			  urlinfo
			FROM
				 image_info
			WHERE image_seq = #{image_seq};
		]]>
    </select>

    <!-- 이미지 정보 등록 -->
    <insert id="insert" parameterType="ImageInfoVo" >

		<selectKey keyProperty="image_seq" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID() as image_seq
		</selectKey>

		INSERT INTO image_info
		(
		category_seq,
		group_seq,
		shop_seq,
		image_type,
		product_code,
		product_name,
		urlinfo
		)
		VALUES
		(
		#{category_seq},
		#{group_seq},
		#{shop_seq},
		#{image_type},
		#{product_code},
		#{product_name},
		#{urlinfo}
		);
    </insert>


	<!-- 이미지 정보 수정 -->
	<update id="update" parameterType="ImageInfoVo">
		UPDATE
		image_info
		<set>
			<if test="category_seq != null and category_seq != '' ">category_seq=#{category_seq},</if>
			<if test="group_seq != null and group_seq != '' ">group_seq=#{group_seq},</if>
			<if test="shop_seq != null and shop_seq != '' ">shop_seq=#{shop_seq},</if>
			<if test="image_type != null and image_type != '' ">image_type=#{image_type},</if>
			<if test="product_code != null and product_code != '' ">product_code=#{product_code},</if>
			<if test="product_name != null and product_name != '' ">product_name=#{product_name},</if>
			<if test="urlinfo != null and urlinfo != '' ">urlinfo=#{urlinfo},</if>
		</set>
		WHERE  image_seq = #{image_seq};
	</update>



	<!-- 이미지 정보 삭제 -->
	<delete id="delete" parameterType="ImageInfoVo">
		<![CDATA[
		  DELETE FROM
				image_info
		  WHERE  image_seq = #{image_seq};
	  	]]>
	</delete>


</mapper>
